<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/select">Select</a>
  <a routerLink="/date-picker">Date Picker</a>
  <a routerLink="/checkbox">Checkbox</a>
  <a routerLink="/radio">radio</a>
  <a routerLink="/form-field">Form Field</a>
  <a routerLink="/form-validations">Form Validations</a>
  <a routerLink="/modal-dialog">Modal Dialog</a>
  <a routerLink="/tooltip">Tooltip</a>
  <a routerLink="/table">Table</a>
  <a routerLink="/sorting">sorting</a>

</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
